# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
*.log
build-8gb.log
build-after-fix.log
build.log
ng-dev-after-fix-2.log
ng-dev-after-fix.log
ng-dev-after-share-removal.log
ng-dev-no-parallel.log
ng-dev.log
ng-prod-after-cleanup.log
ng-prod-final.log
ng-prod-no-parallel.log
server.log

# System files
.DS_Store
Thumbs.db
